[Unit]
Description=pihole DNS blackhole docker compose service
PartOf=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/opt/pihole
ExecStart=docker compose up -d
ExecStop=docker compose down

[Install]
WantedBy=multi-user.target